---
import { getReferenceGenomes, isMultiSegmented } from '../../reference_genomes';
import SegmentNames from './SegmentNames.astro';

const referenceGenomes = getReferenceGenomes();
const multiSegmented = isMultiSegmented(referenceGenomes);
---

<p>
    A nucleotide mutation has the format <code>{multiSegmented && '<segment>:'}{'<position><base>'}</code>.
    {multiSegmented && <SegmentNames />}
    A <code>{'<base>'}</code> can be one of the four nucleotides <code>A</code>, <code>T</code>, <code>C</code>, and
    <code>G</code>. It can also be <code>-</code> for deletion and <code>N</code> for unknown.
    <b>Example:</b>
    <code>{multiSegmented && `${referenceGenomes.nucleotideSequences[0].name}:`}123T</code>
</p>
