@import "tailwindcss";
@plugin "daisyui";
@layer base, starlight, theme, components, utilities;

@import '@astrojs/starlight-tailwind';
@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/utilities.css' layer(utilities);

@theme {
	/*
	Configure your Tailwind theme that will be used by Starlight.
	https://starlight.astro.build/guides/css-and-tailwind/#styling-starlight-with-tailwind
	*/
}

:root {
    --sl-content-width: 70rem;
}

.swagger-ui .information-container, .swagger-ui .scheme-container {
    display: none!important;
}
