[*]
end_of_line = lf
insert_final_newline = true

[gradlew.bat]
end_of_line = crlf

[*.java]
indent_size = 4
trim_trailing_whitespace = true
charset = utf-8
# The org.ec4j.editorconfig gradle plugin does not support max_line_length.
max_line_length = 120
