.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/
/lapis-openapi.json
/lapis-openapi-protected.json
log/
logs/
/lapis-openapi-multi-segmented.json
/lapis-openapi-single-segmented.json
