---
import yaml from 'js-yaml';
import { getConfig } from '../config';
const databaseConfig = getConfig();

const yamlString = yaml.dump(databaseConfig);
---

<div>
    <pre><code>{yamlString}</code></pre>
</div>
