# Create a .env file with this input might NOT work. You might need to properly set CONFIG_FILE as an
# environment variable.
CONFIG_FILE=../siloLapisTests/testData/testDatabaseConfig.yaml
REFERENCE_GENOMES_FILE=../siloLapisTests/testData/reference_genomes.json
